.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animation {
  width: 100%;
}

.message {
  font-size: 19px;
  font-weight: 600;
  margin-top: 30px;
}

.error {
  color: red;
}
